{% extends 'base.html.twig' %}

{% block title %}UserItemProperty index{% endblock %}

{% block body %}

<div class="card-body">
   
    <a href="{{ path('user_item_property_new') }}">Create new</a>
        <i class="fas fa-folder-plus"></i>
        Create new
        </a>
    
    <div class="col-lg-11 col-md-12">
      <div class="card">
        <div class="card-header card-header-info">
          <h4 class="card-title">Employees Stats</h4>
          <p class="card-category">New employees on 15th September, 2016</p>
        </div>
        <div class="card-body table-responsive">

            <table class="table table-hover">
                <thead class="text-Dark">
      
        <thead>
            <tr>
                <th>Id</th>
                <th>Role</th>
                <th>Accepted</th>
                <th>Is_tagged</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_item_property in user_item_properties %}
            <tr>
                <td>{{ user_item_property.id }}</td>
                <td>{{ user_item_property.role }}</td>
                <td>{{ user_item_property.accepted ? 'Yes' : 'No' }}</td>
                <td>{{ user_item_property.isTagged ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('user_item_property_show', {'id': user_item_property.id}) }}">show</a>
                    <a href="{{ path('user_item_property_edit', {'id': user_item_property.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
</div>
</div>
</div>
</div>
{% endblock %}
