{% extends 'base.html.twig' %}

{% block title %}Item index{% endblock %}

{% block body %}
    <div class="d-flex flex-column">
        <div>
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
                 aria-label="breadcrumb">
                <ol class="breadcrumb">
                    {% for feald in schema %}
                        <li class="breadcrumb-item"><a
                                    href="{{ path('list_sub_items_twig', {'parent_code': feald.code}) }}">{{ feald.label }}</a>
                        </li>
                    {% endfor %}
                    <li class="breadcrumb-item active" aria-current="page">{{ current.label }}</li>
                </ol>
            </nav>
        </div>
        <!-- Button trigger modal -->
        <div class="d-flex  flex-row justify-content-between ">
            <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#exampleModal">
                Create Folder
            </button>
            {{ form_start(file_form, {'action': path('upload_file_twig',{'request': app.request,'parent_code': current.code  }), 'method': 'POST'}) }}
            <div class="d-flex flex-row">
                {{ form_widget(file_form) }}
                <button class="btn">{{ 'Upload'|default('Save') }}</button>
            </div>
            {{ form_end(file_form) }}
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Folder</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                {{ form_start(folder_form, {'action': path('create_folder_twig',{'request': app.request ,'parent_code': current.code }), 'method': 'POST'}) }}
                {{ form_widget(folder_form) }}
                <div class="modal-footer">
                    <button class="btn">{{ 'Create'|default('Save') }}</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>

                {{ form_end(folder_form) }}
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title ">Simple Table</h4>
            <p class="card-category"> Here is a subtitle for this table</p>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class=" text-primary">
                    <tr>
                        <th>Label</th>
                        <th>Created at</th>
                        <th>Last update</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}

                        <tr>
                            <td>
                                {% if item.type == 'folder' %}
                                    <span class="material-icons">folder</span>
                                {% else %}
                                    <span class="material-icons">upload_file</span>
                                {% endif %}
                                <a href="{{ path('list_sub_items_twig', {'parent_code': item.code}) }}">{{ item.label }}</a>
                            </td>
                            <td>{{ item.created_at ? item.created_at|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ item.updated_at ? item.updated_at|date('Y-m-d H:i:s') : '' }}</td>
                            <td>
                                {# <a href="{{ path('item_edit', {'code': item.code}) }}">edit</a> #}
                            </td>

                        </tr>

                    {% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}