{% extends 'base.html.twig' %}

{% block title %}Item index{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    <div class="content-header mb-5">
        <div class="container-fluid  p-2 pt-5 pb-2">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left d-flex align-items-center">
                        <li class="breadcrumb-item"><i class="fas fa-home"></i></li>
                        {% for feald in schema %}
                            <li class="breadcrumb-item"><a class="breadcrumb-item-link"
                                                           href="{{ path('list_sub_items_twig', {'parent_code': feald.code}) }}">{{ feald.label }}</a>
                            </li>
                        {% endfor %}
                        <li class="breadcrumb-item active">{{ current.label }}</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
        <div class="d-flex flex-column">

            <!-- Button trigger modal -->
            <div class="d-flex  flex-row justify-content-end ">
                <button type="button" class="btn btn-blue  icon-btn" data-toggle="modal" data-target="#addFolderModal">
                    <i class=" fas fa-folder-plus icon-btn"></i>
                </button>
                <button type="button" class="btn btn-warning icon-btn" data-toggle="modal" data-target="#addFileModal">
                    <i class="fas fa-file-upload icon-btn"></i>
                </button>

            </div>
        </div>
    </div>
    <!-- /.content-header -->

    <div class="modal fade" id="addFolderModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Folder</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="card-body">
                    {{ form_start(folder_form, {'action': path('create_folder_twig',{'request': app.request ,'parent_code': current.code }), 'method': 'POST'}) }}

                    <div class="form-group">
                        {{ form_widget(folder_form) }}
                    </div>
                    <div class="modal-footer">
                        <button class="btn">{{ 'Create'|default('Save') }}</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>

                    {{ form_end(folder_form) }}
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="addFileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Upload File</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                {{ form_start(file_form, {'action': path('upload_file_twig',{'request': app.request,'parent_code': current.code  }), 'method': 'POST'}) }}
                <div class="d-flex flex-row">

                    <button class="btn" class="btn btn-success ">{{ form_widget(file_form) }}</button>
                </div>

                <div class="modal-footer">
                    <button class="btn">{{ 'Create'|default('Save') }}</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

                {{ form_end(folder_form) }}
            </div>
        </div>
    </div>

    <section class="content">
        <div class="card">
            <!-- /.card-header -->

            <div id="example2" class="table table-hover">
                <table class="table">
                    <thead class=" text-primary">
                    <tr>
                        <th>Label</th>
                        <th>Created at</th>
                        <th>Last update</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in data.rows %}

                        <tr>
                            <td>
                                {% if item.type == 'folder' %}
                                    <i class="fas fa-folder mr-2"></i>
                                {% else %}
                                    <i class="fas fa-file mr-2"></i>
                                {% endif %}
                                <a href="{{ path('list_sub_items_twig', {'parent_code': item.code}) }}">{{ item.label }}</a>
                            </td>
                            <td>{{ item.created_at ? item.created_at|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ item.updated_at ? item.updated_at|date('Y-m-d H:i:s') : '' }}</td>
                            <td>
                                {# <a href="{{ path('item_edit', {'code': item.code}) }}">edit</a> #}
                            </td>

                        </tr>

                    {% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <nav aria-label="Page navigation example" class=" ml-2">
                    <ul class="pagination">

                        <li class="page-item page-link">Pages:</li>
                        {% for i in range(1, data.total_indexs) %}
                            <li class="page-item"><a class="page-link" href="{{ path('list_sub_items_twig', {'parent_code': current.code,('index'):i }) }}">{{ i }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>

            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>


{% endblock %}