{% extends 'base.html.twig' %}

{% block title %}{{ current.label |capitalize  }}{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    <div class="folder-content-header content-header mb-5"><!-- schema of current file -->
       {{ include('folder/components/_schema.html.twig' , {'schema': schema ,'current': current } ) }}
        <div class="d-flex flex-column">

            <!-- Button trigger modal -->
            <div class="d-flex  flex-row justify-content-end ">
                {% if folder_form is defined %}

                    {{ include('folder/components/_folderForm.html.twig' , {'folder_form': folder_form ,'current': current  } ) }}
                {% endif %}
                {% if file_form is defined %}
                    {{ include('folder/components/_fileForm.html.twig' , {'file_form': file_form ,'current': current  } ) }}
                {% endif %}



            </div>
        </div>
    </div>
    <!-- /.content-header -->

    <section class="content" data-controller="folder">
        <div class="card">
            <!-- /.card-header -->
            {{ include('folder/components/_listSubItems.html.twig' , {'data': data  } ) }}


        </div>
        <script type="text/javascript">


        </script>
        <!-- /.card -->
    </section>


{% endblock %}