{% extends 'base.html.twig' %}

{% block title %}Item index{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    <div class="folder-content-header content-header mb-5">
        <div class="container-fluid  p-2 pt-5 pb-2">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left d-flex align-items-center">
                        <li class="breadcrumb-item"><i class="fas fa-home"></i></li>
                        {% for feald in schema %}
                            <li class="breadcrumb-item"><a class="breadcrumb-item-link"
                                                           href="{{ path('list_sub_items_twig', {'parent_code': feald.code}) }}">{{ feald.label }}</a>
                            </li>
                        {% endfor %}
                        <li class="breadcrumb-item active">{{ current.label }}</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
        <div class="d-flex flex-column">

            <!-- Button trigger modal -->
            <div class="d-flex  flex-row justify-content-end ">
                <button type="button" class="btn btn-blue  icon-btn" data-toggle="modal" data-target="#addFolderModal">
                    <i class=" fas fa-folder-plus icon-btn"></i>
                </button>
                <button type="button" class="btn btn-warning icon-btn" data-toggle="modal" data-target="#addFileModal">
                    <i class="fas fa-file-upload icon-btn"></i>
                </button>

            </div>
        </div>
    </div>
    <!-- /.content-header -->

    <div class="modal fade" id="addFolderModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Folder</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="card-body">
                    {{ form_start(folder_form, {'action': path('create_folder_twig',{'request': app.request ,'parent_code': current.code , 'user_code': "0970229e-4867-4ada-b0ac-a199446cbc21" }), 'method': 'POST'}) }}

                    <div class="form-group">
                        {{ form_widget(folder_form) }}
                    </div>
                    <div class="modal-footer">
                        <button class="btn">{{ 'Create'|default('Save') }}</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>

                    {{ form_end(folder_form) }}
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="addFileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Upload File</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                {{ form_start(file_form, {'action': path('upload_file_twig',{'request': app.request,'parent_code': current.code , 'user_code': "0970229e-4867-4ada-b0ac-a199446cbc21"  }), 'method': 'POST'}) }}
                <div class="d-flex flex-row">

                    <button class="btn" class="btn btn-success ">{{ form_widget(file_form) }}</button>
                </div>

                <div class="modal-footer">
                    <button class="btn">{{ 'Create'|default('Save') }}</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

                {{ form_end(folder_form) }}
            </div>
        </div>
    </div>

    <section class="content">
        <div class="card">
            <!-- /.card-header -->

            <div id="example2" class="table table-hover">
                <table class="table">
                    <thead class=" text-primary">
                    <tr>
                        <th>Label</th>
                        <th>Created at</th>
                        <th>Last update</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in data.rows %}

                        <tr>
                            <td>
                                {% if item.type == 'folder' %}
                                    <i class="fas fa-folder mr-2 "></i>
                                    <a href="{{ path('list_sub_items_twig', {'parent_code': item.code}) }}">{{ item.label }}</a>
                                {% else %}
                                    <i class="far fa-file mr-2" id="{{ item.label }}"></i>
                                    {{ item.label }}
                                {% endif %}
                            </td>
                            <td>{{ item.created_at ? item.created_at|date('Y-m-d H:i') : '' }}</td>
                            <td>{{ item.updated_at ? item.updated_at|date('Y-m-d H:i') : '' }}</td>
                            <td class="navbar-nav d-flex flex-row">
                                {% if item.type == 'folder' %}

                                    <a href="{{ path('list_sub_items_twig', {'parent_code': item.code}) }}"
                                       class="danger mr-4 ml-4"><i class="fas fa-folder-minus"></i></a>
                                {% else %}
                                    <a href="{{ path('list_sub_items_twig', {'parent_code': item.code}) }}"
                                       class="danger mr-4 ml-4"><i class="fas fa-file-excel"></i></a>
                                {% endif %}
                                <li class="dropdown  mr-4 ml-4">
                                    <a hrep="#" class="warning" data-toggle="dropdown" onclick="folderListFucntion('{{ item.code }}','{{ current.code }}')"><i
                                                class="fas fa-angle-double-right"></i></a>

                                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right scrollable-menu"
                                         style="height: 200px;max-height: 200px;  overflow-x: scroll;" id="move_list">

                                    </div>
                                </li>
                                <a href="{{ path('list_sub_items_twig', {'parent_code': item.code}) }}"
                                   class="marine mr-4 ml-4"><i class="fas fa-folder-open"></i></a>



                            </td>

                        </tr>

                    {% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <nav aria-label="Page navigation example" class=" ml-2">
                    <ul class="pagination">

                        <li class="page-item page-link">Pages:</li>
                        {% for i in range(0, data.total_indexs) %}
                            <li class="page-item"><a class="page-link"
                                                     href="{{ path('list_sub_items_twig', {'parent_code': current.code,('index'):i }) }}">{{ i }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>

            <!-- /.card-body -->
        </div>
        <script type="text/javascript">
            $('div.dropdown-menu.dropdown-menu-lg.dropdown-menu-right.scrollable-menu').on('click', function(event){
                // The event won't be propagated up to the document NODE and
                // therefore delegated events won't be fired
                event.stopPropagation();
            });
            function folderListFucntion(folderToMove, folderMovingIn) {
                jQuery(document).ready(function ($) {
                var moveLFolderList = $('div#move_list')


                    $.ajax({
                        method: "GET",
                        url: "/api/folder/list-sub-item/" + folderMovingIn,
                        data: {
                            index: -1,
                            type: "folder",
                            user_code: "0970229e-4867-4ada-b0ac-a199446cbc21"
                        }

                    }).done(function (res) {
                        moveLFolderList.empty();
                        let data = res.results.data;

        ///////////////////////fill dropdown list with folders

                        $('<span/>')
                            .addClass('dropdown-item dropdown-header')
                            .text(res.results.parent_folder)
                            .appendTo(moveLFolderList);
                        $('<div/>')
                            .addClass('dropdown-divider')
                            .appendTo(moveLFolderList);
                        $.each(data.rows, function (i) {
                          // var id = 'move_list' + i;
                            let listItem =$('<div/>')
                                .addClass('d-flex  flex-row m-2 border-bottom')
                                .appendTo(moveLFolderList);
                            $('<div/>')
                                .addClass('dropdown-divider')
                                .appendTo(listItem);
                            $('<i/>')
                                .addClass('fas fa-folder mr-2')
                                .appendTo(listItem);
                            let liFolder = $('<a/>')
                                .attr('href',"#")
                                .attr('id',data.rows[i].code)
                                .text(data.rows[i].label)
                                .appendTo(listItem);

                            /* ********
                              move to specific folder content in dropdown list
                              by refilling the dropdown menu       *************  */

                            liFolder.click(function() {
                                folderListFucntion(folderToMove ,data.rows[i].code);

                            });
                            let url = "{{ path('move_item_twig', {'item_code':'itemC','parent_code': current.code,'new_parent_code':'newParentC','user_code':'userC' }) }}";
                            url = url.replace("itemC", folderToMove);
                            url = url.replace("newParentC", data.rows[i].code);
                            url = url.replace("userC", "0970229e-4867-4ada-b0ac-a199446cbc21");
                            console.log(url)
                            let moveForm = $('<form/>')
                                .addClass('ml-auto')
                                .attr('action',url)
                                .attr('method','post')
                                .appendTo(listItem);
                            let submitButton = $('<button/>')
                                .addClass('btn btn-block btn-outline-secondary  p-0 mb-1')
                                .attr('type','submit')
                                .appendTo(moveForm);
                            $('<i/>')
                                .addClass('fas fa-chevron-circle-down mr-1 ml-1')
                                .appendTo(submitButton);

                        });
                    });
                })


            };

        </script>
        <!-- /.card -->
    </section>


{% endblock %}