<td class="navbar-nav justify-content-end d-flex flex-row mr-4">


    {% if item.type == 'folder' %}

        <a href="{{ path('list_sub_items_twig', {'parent_code': item.code}) }}"
           class="marine mr-4 ml-4"><i class="fas fa-folder-open"></i></a>
    {% elseif item.type == 'template'%}
        <a href="{{ path('edit_template_twig', {'item_code': item.code}) }}"><i class="far fa-file-code mrl-3 "></i></a>
    {% endif %}


{#     ******************************** move *****************************************  #}
    {% if is_granted('ROLE_EDIT', item.code ) %}
    <li class="dropdown  mr-4 ml-4">
        <a hrep="#" class="warning" data-toggle="dropdown" data-action="click->folder#folderListFucntion" data-folder-to-move ="{{ item.code }}" data-folder-moving-in="{{ current.code }}" data-path="{{ path('move_item_twig', {'item_code':'itemC','parent_code': current.code,'new_parent_code':'newParentC','user_code':'userC' }) }}"><i
                    class="fas fa-angle-double-right"></i></a>
        {#     ******************************** move  Modal *****************************************  #}
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right scrollable-menu" data-action="click->folder#stopPropagation"
             style="height: 200px;max-height: 200px;  overflow-x: scroll;" id="move_list">

        </div>
    </li>
    {% endif %}

{#        ************************** end move **********************************************#}



    {#     ******************************** other Actions  *****************************************  #}
    <li class="nav-item dropdown">
        <a class="nav-link mr-3 " data-toggle="dropdown" href="#">
            <i class="fas fa-ellipsis-v"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            {% if item.type == 'folder' %}
                <a href="{{ path('list_sub_items_twig', {'parent_code': item.code}) }}"  class="dropdown-item" > <button type="button" class="btn"> open </button> </a>
                <div class="dropdown-divider"></div>

            {% else %}

                <a href="{{ path('download_file_twig', {'item_code': item.code}) }}" class="dropdown-item " > <button type="button" class="btn">download </button></a>
                <div class="dropdown-divider"></div>
                <a href="{{ path('open_file_browser_twig', {'item_code': item.code}) }}"class="dropdown-item" > <button type="button" class="btn">view </button> </a>
                <div class="dropdown-divider"></div>
                <a href="{{ path('open_any_document_twig', {'item_code': item.code} )}}" class="dropdown-item">
                <button type="button" class="btn" data-target="#display_file" > open </button> </a>
                <div class="dropdown-divider"></div>

            {% endif %}
            <a href="{{ path('delete_item_twig', {'item_code': item.code ,'parent_code': current.code} ) }}"  class="dropdown-item danger">
                <button type="button" class="btn"  data-toggle="modal" data-target="#confirm-delete" class="btn btn-sm btn-danger">remove </button>
                <div class="dropdown-divider"></div>
            </a>

            <button type="button" onclick="CancelShareLink('{{ item.code }}')" id="cancel_btn" class="dropdown-item">cancel share </button>
            <div class="dropdown-divider"></div>
            <button type="button" onclick="Rename('{{ item.code }}' , '{{ current.code }}')" class="btn dropdown-item" data-toggle="modal" data-target="#RenameItemModal">
                Rename
            </button>
            </a>


            <button type="button" class="btn dropdown-item" data-action="click->folder#ShareLink" data-shared-item-link ="{{ item.code }}"  data-toggle="modal" data-target="#shareLink">  share </button>
            <div class="dropdown-divider"></div>
            <button  type="button" class="btn dropdown-item" data-action="click->folder#ShareEMail" data-shared-item-Email ="{{ item.code }}"  data-toggle="modal" data-target="#sharefile"> Sahre By Email </button>


{#            </button>#}
{#            <a href="#" class="dropdown-item">#}
{#                <i class="fas fa-envelope mr-2"></i> 4 new messages#}
{#                <span class="float-right text-muted text-sm">3 mins</span>#}
{#            </a>#}
{#            <div class="dropdown-divider"></div>#}
{#            <a href="#" class="dropdown-item">#}
{#                <i class="fas fa-users mr-2"></i> 8 friend requests#}
{#                <span class="float-right text-muted text-sm">12 hours</span>#}
{#            </a>#}
{#            <div class="dropdown-divider"></div>#}
{#            <a href="#" class="dropdown-item">#}
{#                <i class="fas fa-file mr-2"></i> 3 new reports#}
{#                <span class="float-right text-muted text-sm">2 days</span>#}
{#            </a>#}
{#            <div class="dropdown-divider"></div>#}
{#            <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>#}
        </div>
    </li>
</td>
    </tr>
    <!--  ****************************************************************************************************************  -->
    <!-- modal for share with others use mail-->
   

    
