<div id="example2" class="table table-hover">
    <table class="table">
        <thead class=" text-primary">
        <tr>
            <th>Label</th>
            <th>Created at</th>
            <th>Last update</th>
            <th class="justify-content-end d-flex mr-5">actions</th>
        </tr>
        </thead>
        <tbody>
        {% for item in data.rows %}

            <tr>
                <td class="d-flex flex-row">
                    {% if item.type == 'folder' %}
                        <i class="fas fa-folder mrl-3 "></i>

                        <a href="{{ path('list_sub_items_twig', {'parent_code': item.code}) }}">{{ item.label }}</a>
                    {% else %}
{#                        <i class="far fa-file mr-2" id="{{ item.label }}"></i>#}
                        <div data-controller="fileicon" id="{{ item.label }}" class="file-icons"> </div>

                        {{ item.label }}
                    {% endif %}
                </td>
                <td>{{ item.created_at ? item.created_at|date('Y-m-d H:i') : '' }}</td>
                <td>{{ item.updated_at ? item.updated_at|date('Y-m-d H:i') : '' }}</td>
                {{ include('folder/components/_itemListActions.html.twig' , {'item': item ,'current': current  } ) }}

            </tr>

        {% else %}
            <tr>
                <td colspan="6">no records found with current granted access </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation example" class=" ml-2">
        <ul class="pagination">

            <li class="page-item page-link">Pages:</li>
            {% for i in range(0, data.total_indexs) %}
                <li class="page-item"><a class="page-link"
                                         href="{{ path('list_sub_items_twig', {'parent_code': current.code,('index'):i }) }}">{{ i }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>

<!-- /.card-body -->
