{% extends 'base.html.twig' %}

{% block title %}Item index{% endblock %}

{% block body %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Simple Table</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <tr>
                                    <th>Label</th>
                                    <th>Created at</th>
                                    <th>Last update</th>
                                    <th>actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in items %}

                                    <tr>
                                        <td>
                                            <a href="{{ path('list_sub_items_twig', {'parent_code': item.code}) }}">{{ item.label }}</a>
                                        </td>
                                        <td>{{ item.created_at ? item.created_at|date('Y-m-d H:i:s') : '' }}</td>
                                        <td>{{ item.updated_at ? item.updated_at|date('Y-m-d H:i:s') : '' }}</td>
                                        <td>
                                            {# <a href="{{ path('item_edit', {'code': item.code}) }}">edit</a> #}
                                        </td>

                                    </tr>

                                {% else %}
                                    <tr>
                                        <td colspan="6">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            {# <a href="{{ path('item_new') }}">Create new</a> #}
            {% endblock %}
